.account {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 5px;
    right: 5px;
    width: 180px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;

    &__userName {
        text-align: end;
        width: 100%;
        top: 0;
        right: 0;
        cursor: default;
    }

    &__gearIcon {
        cursor: pointer;
    }

    &__loginButton {
        cursor: pointer;
        text-decoration: underline;
    }

    &__loginButton:hover {
        color: #480064;
    }
}

.menuItems {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    background: #b8b8b8;
    box-shadow: 0px 0px 5px black;
    border: 2px solid black;
    border-radius: 5px;

    &__item {
        display: flex;
        margin: 0;
        padding: 2px;
        border-bottom: 2px solid rgb(0, 0, 0);
        font-size: 0.8rem;
        cursor: pointer;

        &_checkbox {
            margin: 0.1rem;
            padding: 0;
        }

        &_label {
            margin: 0.1rem;
            padding: 0;
        }

        &_button {
            display: inline-block;
            background: #480064;
            border: none;
            border-radius: 0.2rem;
            color: white;
            max-width: 90px;
            min-height: 50px;
            padding: 5px;
            margin: 0.5rem 0.2rem;
            font-size: 1rem;
            font-weight: 700;
            cursor: pointer;
        }

        &_button:hover {
            box-shadow: 0 0 5px #480064;
        }
    }
}
